<template id="edit-node">

  <!-- <el-form :model="node" ref="dataForm" label-width="100px" class="flowEditForm margin13" size="mini">
    <el-form-item label="GUID">
      <el-input disabled v-model="node.id"></el-input>
    </el-form-item>
    <el-form-item label="名称">
      <el-input v-model="node.label"></el-input>
    </el-form-item>
    <el-form-item label="活动类型">
      <el-select v-model="node.Type" placeholder="请选择">
        <el-option v-for="item in TypeList" :key="item.Value" :label="item.Text" :value="item.Value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="备注">
      <el-input v-model="node.Remark" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
    </el-form-item>
  </el-form> -->

  <v-form v-model="isFormValid" ref="dataForm" lazy-validation>
    <v-row class="px-2" :class="{'pb-7': isMobile}">
      <v-col cols="12" class=" pb-3">
        <span class="inputLabel">GUID</span>
        <v-text-field class="cus-v-input" dense filled single-line disabled label="GUID" v-model="node.id"></v-text-field>
      </v-col>
      <v-col cols="12" class=" pb-3">
        <span class="inputLabel">名称</span>
        <v-text-field class="cus-v-input" dense filled single-line label="名称" v-model="node.label"></v-text-field>
      </v-col>
      <v-col cols="12" class=" pb-3">
        <span class="inputLabel">备注说明</span>
        <v-text-field class="cus-v-input" dense filled single-line label="备注说明" v-model="node.Remark"></v-text-field>
      </v-col>
      <template v-if="!node.id.includes('start-') && !node.id.includes('end-')">

        <!-- <v-col cols="12" class=" pb-3">
          <span class="inputLabel">指派类型</span>
  
          <v-select
            :items="assignTypeList"
            dense filled single-line
            item-text="text"
            color="success"
            item-color="success"
            item-value="value"
            class="cus-v-input"
            label="指派类型"
            v-model="node.assignType"
          ></v-select>
        </v-col>
      -->
        <v-col cols="12" class=" pb-3">
          <span class="inputLabel">指派</span>
          <v-autocomplete 
              class="cus-v-input mr-2" 
              dense filled single-line clearable
              :items="optionList" 
              item-text="text" 
              item-value="value"
              :label="assignType"
              :multiple="node.assignType === 'person'"
              v-model="node.assignValue"
              :disabled="!node.assignType">
          </v-autocomplete>
        </v-col>
        <v-col cols="12" class=" pb-3" v-if="mode == 'serial'">
          <span class="inputLabel">允许的操作（英文逗号分隔）</span>
          <!-- <v-textarea
            filled single-line
            name="input-7-4"
            label="允许的操作"
            value=""
            rows="3"
            hide-details
          ></v-textarea> -->
          <v-text-field class="cus-v-input" dense filled single-line label="允许的操作（英文逗号分隔）" v-model="node.lineTypeList"></v-text-field>
        </v-col>
        <!-- <v-col cols="12" class=" pb-3" >
          <span class="inputLabel">可写模板</span>
          <v-select
            :items="tpl"
            dense filled single-line
            item-text="text"
            color="success"
            item-color="success"
            item-value="value"
            class="cus-v-input"
            label="可写模板"
            multiple
            v-model="node.formId"
          ></v-select>
        </v-col>
        <v-col cols="12" class=" pb-3" >
          <span class="inputLabel">隐藏模板</span>
          <v-select
            :items="tpl"
            dense filled single-line
            item-text="text"
            item-value="value"
            color="success"
            item-color="success"
            class="cus-v-input"
            label="隐藏模板"
            multiple
            v-model="node.formIdHidden"
          ></v-select>
        </v-col> -->
      </template>
      <template v-if="node.id.includes('end-')">
        <v-col cols="12" class=" pb-3">
          <span class="inputLabel">流程完成Hook</span>
          <v-text-field class="cus-v-input mr-2" dense filled single-line label="流程完成Hook" v-model="node.finishHook"></v-text-field>
        </v-col>
        <v-col cols="12" class=" pb-3">
          <span class="inputLabel">流程中断Hook</span>
          <v-text-field class="cus-v-input mr-2" dense filled single-line label="流程中断Hook" v-model="node.interruptHook"></v-text-field>
        </v-col>
      </template>
    </v-row>
</template>

<script>
  Vue.component("edit-node", {
    template: '#edit-node',
    vuetify: new Vuetify(),
    name: 'editNode',
    props: {
      lf: {
        type: Object,
        default: null
      },
      user: {
        type: Array,
        default: () => {
          return []
        }
      },
      group: {
        type: Array,
        default: () => {
          return []
        }
      },
      tpl: {
        type: Array,
        default: () => {
          return []
        }
      },
      mode: {
        type: String,
        default: 'serial'
      }
    },
    data() {
      return {
        isFormValid: true,
        node: {
          id: ''
        },
        typeList: [
          { Value: 'start', Text: '起点' },
          { Value: 'end', Text: '终点' },
          { Value: 'userTask', Text: '审核节点' },
          { Value: 'receiveTask', Text: '处理节点' }
        ],
        assignTypeList: [{value: 'person', text: '用户'}, {value: 'group', text: '组'}]
      }
    },
    watch: {
      node: {
        handler: function (node) {
          this.lf.updateText(node.id, node.label);
          this.lf.setProperties(node.id, node);
        },
        deep: true
      }
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      showTask() {
        return ['userTask', 'receiveTask'].includes(this.node.type);
      },
      assignType() {
        if (!this.node.assignType) return '请选择指派类型';
        return this.assignTypeList.find(e => e.value === this.node.assignType).text;
      },
      optionList() {
        if (!this.node.assignType) {
          return []
        }
        if (this.node.assignType === 'person') {
          return this.user
        }
        if (this.node.assignType === 'group') {
          return this.group
        }
      }
    },
    methods: {
      init(node) {
        this.node = node.properties;
      },
      getOptionList() {
        if (!this.node.assignType) {
          return []
        }
        if (!this.node.assignType === 'person') {
          return this.user
        }
        if (!this.node.assignType === 'group') {
          return this.group
        }
      }
    }
  })
</script>
<style>
  .v-textarea textarea {
    line-height: 1.2rem;
  }
</style>
