{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>
  <!-- 页面主要内容 -->
  <v-card :class="{'px-2': isMobile}">
    <v-row class="ma-0 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <span class="body-2">共{{ tableDataFromBackend.length }}条记录</span>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="px-0">
        <v-text-field v-model="searchInput" prefix="表格过滤:" color="success" class="cus-v-input" dense filled
                      single-line></v-text-field>
      </v-col>
    </v-row>
    
    <v-data-table 
        :headers="headers"
        :items="tableDataFromBackend"
        :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
        :items-per-page="20"
        mobile-breakpoint="0"
        :loading="isTableLoading"
        checkbox-color="success"
        :class="{'mx-2': isMobile}"
        color="success"
        class="elevation-0 mt-0 flex-fill d-flex flex-column">
      <template v-slot:item.action="{ item }">
        <v-btn small color="success" class="mr-2" @click="doUiAction('toTaskHistory', {item})">
          查看
        </v-btn>
      </template>
    </v-data-table>
  </v-card>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isMobile: window.innerWidth < 600,
    // 表格相关数据
    requireRules: [
      v => !!v || 'This is required',
    ],
    currentTableGenderType: 'all',
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "课程ID", value: "taskId", width: 120},
      {text: "课程名称", value: "taskTitle", width: 120},
      {text: "课程状态", value: "taskStatus", width: 120},
      {text: "当前节点ID", value: "taskConfigId", width: 200},
      {text: "申请人", value: "taskInitUser", width: 120},
      {text: "处理人员", value: "taskEditUserList", width: 120},
      {text: "所有相关人员，用逗号分隔", value: "taskViewUserList", width: 120},
      {text: "课程创建人", value: "createByUser", width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed'},
    ],
  }),
  watch: {},
  async created() {
    await this.doUiAction('refreshTableData');
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(uiActionData);
            break;
          case 'toTaskHistory':
            await this.toTaskHistory(uiActionData);
            break;
          default:
            console.error("[doAction] uiActionId not find", { uiActionId });
            break;
        }
    },
    /**
     * 获取表格数据
     */
    async refreshTableData() {
      this.isTableLoading = true;
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'taskICreateManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData;

      rows.forEach(row => {
        row.operationAt = dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss');
      })
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },

    toTaskHistory({item}) {
      location.href = `/${window.appInfo.appId}/page/taskHistoryManagement?id=${item.id}&taskId=${item.taskId}`;
    }
  }
})
</script>

<style scoped>
</style>
{% endblock %}
